[Unit]
Description=OIC Connectivity Agent Service
After=iscsid.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
RestartSec=60s
User=opc
Group=opc
WorkingDirectory=/home/opc/oic-agent
ExecStart=/bin/bash /home/opc/oic-agent/oic-agent.sh start
ExecStop=/bin/bash /home/opc/oic-agent/oic-agent.sh start

[Install]
WantedBy=multi-user.target
